body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #005F7F;
  }
  